<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="dist/app.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <title>Document</title>
</head>
  <body>

    <div id="root">

      <header class="container">
        <div class="container nav_container">
          <nav class="nav_top container_small">
            <div class="social">
              <ul v-for="social in iconsSocial">
                <li><a href="#"><i :class="social.family + social.prefix + social.name"></i></a></li>
              </ul>
            </div>
            <div v-for="menu in shoppingNav" class="account">
              <a class="shopping" href="#">{{menu.name}}</a>
              <button class="btn_account" type="button" name="button">{{menu.nameBtn}}<i class="fas fa-chevron-down"></i></button>
              <button class="btn_cart" type="button" name="button"><i class="fas fa-shopping-cart"></i>{{menu.nameBtnCart}}<i class="fas fa-chevron-down"></i></button>
            </div>
          </nav>
          </div>
          <!-- sub nav -->
          <nav class="nav_sub container_small">
            <div class="logo"><img src="img/logo.png" alt="logo">
            </div>
            <div class="nav_menu">
              <ul>
                <li v-for="link in menuListNav"><a href="#">{{link.link}}<i :class="link.family + link.prefix + link.icon"></i> </a></li>
              </ul>
              <button class="btn btn_blue" type="button" name="button">shop now!</button>
              <i class="search fas fa-search"></i>
            </div>
          </nav>
        <!-- top nav -->
      </header>
      <!-- hero -->
      <div class="hero container">
        <div class="container_small">
          <h1>Brand New Arrivals</h1>
          <p class="p_hero">new collection from new york</p>
          <button class="btn btn_hero" type="button" name="button">view all</button>
          <button class="btn btn_hero" type="button" name="button">lookbook</button>
        </div>
      </div>
      <!--start section featured -->
      <section class="featured container_small">
        <div class="section_title">
          <hr><h2>Featured Products</h2><hr>
          <p class="sub_title">Must have products from our top sellers</p>
        </div>
        <div class="btn_genre">
          <button class="btn genre" type="button" name="button">Men</button><button class="btn genre" type="button" name="button">Women</button><button class="btn genre" type="button" name="button">Accessories</button>
        </div>
        <div class="featured_products">
          <div class="img_product">
            <img src="img/leather-jacket.jpg" alt="">
              <div class="content_product">
                <h5>Black Leather Jacket</h5>
                <p class="p_product">Men, jackets, Jeans</p>
                <p class="p_price"> <span>$295</span> $200 </p>
              </div>
          </div>
          <div class="img_product">
            <img src="img/black_leather_suit.jpg" alt="">
              <div class="content_product">
                <h5>Black Leather Suit</h5>
                <p class="p_product">Men, jackets</p>
                <p class="p_price"> $176 </p>
              </div>
          </div>
          <div class="img_product">
            <img src="img/blue_jacket_and_white_stripe_tee-400x520.jpg" alt="">
              <div class="content_product">
                <h5>Blue Jacket & Stripe Tee</h5>
                <p class="p_product">Men, jackets, Suits</p>
                <p class="p_price"> $580 </p>
              </div>
          </div>
          <div class="img_product">
            <img src="img/modern_black_leather_suit-400x520.jpg" alt="">
              <div class="content_product">
                <h5>Modern Black Leather Suits</h5>
                <p class="p_product">Men, jackets</p>
                <p class="p_price"> $96 </p>
              </div>
          </div>
        </div>
      </section>
      <!-- start section seasons -->
      <section class="container seasons">
        <div class="img_season_winter">
          <div class="season_content">
            <h3>Winter Collection</h3>
            <p class="p_season">stylish and warm</p>
            <button class="btn btn_hero more" type="button" name="button">view more</button>
          </div>
        </div>
        <div class="img_season_spring">
          <div class="season_content">
            <h3>Spring Collection</h3>
            <p class="p_season">brigth and colorful</p>
            <button class="btn btn_hero more" type="button" name="button">view more</button>
          </div>
        </div>
        <div class="img_season_autumn">
          <div class="season_content">
            <h3>Autumn Collection</h3>
            <p class="p_season">rich and comfortable</p>
            <button class="btn btn_hero more" type="button" name="button">view more</button>
          </div>
        </div>
      </section>
      <!-- start section best seller carousel -->
      <section class= " best_seller container_small">
        <div class="section_title featured">
          <hr><h2>Best Seller</h2><hr>
          <p class="sub_title">Must have products from our top sellers</p>
        </div>
        <div class="featured_products carousel">
          <i class="fas fa-chevron-left"></i>
          <div class="img_product">
            <img src="img/spring_printed_dress.jpg" alt="">
          </div>
          <div class="img_product">
            <img src="img/modern_love_tee.jpg" alt="">
          </div>
          <div class="img_product">
            <img src="img/black_leather_jacket.jpg" alt="">
          </div>
          <div class="img_product">
            <img src="img/leather-jacket.jpg" alt="">
          </div>
          <div class="img_product">
            <img src="img/hipster_black_top.jpg" alt="">
          </div>
          <i class="fas fa-chevron-right"></i>
        </div>
      </section>
      <!-- start section promo -->
      <section class="container promo_off">
        <div class="container promo promo_bg">
          <div class="container_small flex">
            <div class="img_promo _box1">
              <div class="promo_content">
                <h3>70% Off</h3>
                <p class="p_promo">Lorem ipsum dolor sit amet lorem ipsum lorem.</p>
                <button class="btn btn_hero more" type="button" name="button">view more</button>
              </div>
            </div>
            <div class="img_promo _box2">
              <div class="promo_content">
                <h3>Free Shipping</h3>
                <p class="p_promo">Lorem ipsum dolor sit amet lorem ipsum lorem.</p>
                <button class="btn btn_hero more" type="button" name="button">view more</button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- start section nuovi arrivi carousel full -->
      <section class="container new_arrivals">
        <div class="section_title featured container_small">
          <hr><h2>New arrivals</h2><hr>
          <p class="sub_title">Brand new products from top designer</p>
        </div>
        <div class="featured_products carousel">
          <i class="fas fa-chevron-left"></i>
          <div class="img_product new_product">
            <img src="img/black_elegant_leather_jacket-400x520.jpg" alt="">
          </div>
          <div class="img_product new_product">
            <img src="img/hipster_black_top.jpg" alt="">
          </div>
          <div class="img_product new_product">
            <img src="img/black_leather_suit-400x520.jpg" alt="">
          </div>
          <div class="img_product new_product">
            <img src="img/spring_printed_dress.jpg" alt="">
          </div>
          <div class="img_product new_product">
            <img src="img/modern_love_tee-400x520.jpg" alt="">
          </div>
          <i class="fas fa-chevron-right"></i>
        </div>
      </section>
      <!-- start container designer -->
      <section class="container testimonial">
        <div class="promo testimonial_bg">
          <div class="container_small center">
            <div class="testimonial_img center">
              <img src="img/man_testimonial.png" alt="">
            </div>
            <div class="testimonial_paragraph">
              <p class="p_testimonial">Lorem adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <p class="p_name">Darìo Pineda,</p><span> Theme fusion</span>
            </div>
            <div class="bullet">
              <i class="circle fas fa-circle"></i>
              <i class="circle far fa-circle"></i>
            </div>
          </div>
        </div>
      </section>
      <!-- start section blog -->
      <section class="blog container_small">
        <div class="section_title featured">
          <hr><h2>From Our Blog</h2><hr>
          <p class="sub_title">The Latest Classic Shop News</p>
        </div>
        <div class="flex">
          <div class="img_blog">
            <img src="img/post_img_12-700x441.jpg" alt="">
              <div class="content_product_blog">
                <h5>Aenean lobortis sapien enim viverra</h5>
                <p class="p_date">September 9th, 2015|0 Comments</p>
                <p class="p_blog">Donec finibus sit amet orci eget ultricies. Praesent posuere ante ut erat fringilla</p>
              </div>
          </div>
          <div class="img_blog">
            <img src="img/post_img_11-700x441.jpg" alt="">
              <div class="content_product">
                <h5>Duis ac massa semper maximus</h5>
                <p class="p_date">September 9th, 2015|0 Comments</p>
                <p class="p_blog">Donec finibus sit amet orci eget ultricies. Praesent posuere ante ut erat fringilla,</p>
              </div>
          </div>
          <div class="img_blog">
            <img src="img/post_img_10-700x441.jpg" alt="">
              <div class="content_product">
                <h5>Nunc fermint nulla eu justo sem id</h5>
                <p class="p_date">September 9th, 2015|0 Comments</p>
                <p class="p_blog">Donec finibus sit amet orci eget ultricies. Praesent posuere ante ut erat fringilla,</p>
              </div>
        </div>
      </section>
      <!-- start section rated -->
      <section class="rated container">
        <div class="container break">
          <div class="container_small rated_break flex">
            <div class="container_small">

              <div class="card  flex">
                <h6 class="left">featured</h6>
                <div class="card_products flexspace">
                  <div class="left">
                    <a class="" href="#">Black Jacket <span class="price_rate"> $125</span></a>
                  </div>
                  <div class="img_rated">
                    <img src="img/black_leather_jacket-120x156.jpg" alt="">
                  </div>
                </div>
              </div>

              <div class="card flex">
                <div class="card_products flexspace">
                  <div class="left">
                    <a class="" href="#">Black Leather Jacket </a>
                    <div class="star_rate">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <p class="linetr price_rate"> $235</p>
                    <p class="underline">$200</p>
                  </div>
                  <div class="img_rated">
                    <img src="img/black_elegant_leather_jacket-120x156.jpg" alt="">
                  </div>
                </div>
              </div>

              <div class="card flex">
                <div class="card_products flexspace">
                  <div class="left">
                    <a class="" href="#">Hipster Black Top</a>
                    <p class="inline_bold">$58</p>
                  </div>
                  <div class="img_rated">
                    <img src="img/hipster_black_top-120x156.jpg" alt="">
                  </div>
                </div>
              </div>

            </div>
            <div class="container_small">

              <div class="card flex">
                <h6 class="left">on sale</h6>
                <div class="card_products flexspace">
                  <div class="left">
                    <a class="" href="#">Black Leather</a>
                    <div class="star_rate">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>

                  </div>
                  <div class="img_rated">
                    <img src="img/black_elegant_leather_jacket-120x156.jpg" alt="">
                  </div>
                </div>
              </div>

              <div class="card container_xsmall flex">
                <div class="card_products flexspace">
                  <div class="left">
                    <a class="" href="#">Blue Leather Jacket </a>
                    <p class="inline_bold">$200</p>
                  </div>
                  <div class="img_rated">
                    <img src="img/blue_leather_jacket-120x156.jpg" alt="">
                  </div>
                </div>
              </div>

              <div class="card container_xsmall flex">
                <div class="card_products flexspace">
                  <div class="left">
                    <a class="" href="#">Moder Leather Boots</a>
                    <p class="linetr">$50</p>
                    <p class="inline_bold">$30</p>
                  </div>
                  <div class="img_rated">
                    <img src="img/brown_dress_shoes-200x260.jpg" alt="">
                  </div>
                </div>
              </div>

            </div>
            <div class="container_small">

              <div class="card container_xsmall flex">
                <h6 class="left">top rated</h6>
                <div class="card_products flexspace">
                  <div class="left">
                    <a class="" href="#">Leather Gloves <span class="price_rate"> $45</span></a>
                    <div class="star_rate">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                  </div>
                  <div class="img_rated">
                    <img src="img/leather_gloves-120x156.jpg" alt="">
                  </div>
                </div>
              </div>

              <div class="card container_xsmall flex">
                <div class="card_products flexspace">
                  <div class="left">
                    <a class="" href="#">Black Leather Jacket </a>
                    <div class="star_rate">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <p class="linetr price_rate"> $235</p>
                    <p class="underline">$200</p>
                  </div>
                  <div class="img_rated">
                    <img src="img/black_elegant_leather_jacket-120x156.jpg" alt="">
                  </div>
                </div>
              </div>

              <div class="card container_xsmall flex">
                <div class="card_products flexspace">
                  <div class="left">
                    <a class="" href="#">Spring Printed Dress</a>
                    <div class="star_rate">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <p class="inline_bold">$47</p>
                  </div>
                  <div class="img_rated">
                    <img src="img/spring_printed_dress-120x156.jpg" alt="">
                  </div>
                </div>
              </div>

            </div>
            <div class="container_small">

              <div class="card container_xsmall flex">
                <h6 class="left">latest reviews</h6>
                <div class="card_products flexspace">
                  <div class="left">
                    <a class="" href="#">Black Jacket <span class="price_rate"> $125</span></a>
                    <div class="star_rate">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <p >by admin</p>
                  </div>
                  <div class="img_rated">
                    <img src="img/black_leather_jacket-120x156.jpg" alt="">
                  </div>
                </div>
              </div>

              <div class="card container_xsmall flex">
                <div class="card_products flexspace">
                  <div class="left">
                    <a class="" href="#">Gloves </a>
                    <div class="star_rate">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <p class="linetr price_rate"> $235</p>
                    <p class="underline">$200</p>
                  </div>
                  <div class="img_rated">
                    <img src="img/leather_gloves-120x156.jpg" alt="">
                  </div>
                </div>
              </div>

              <div class="card container_xsmall flex">
                <div class="card_products flexspace">
                  <div class="left">
                    <a class="" href="#">Blue Jacket</a>
                    <p class="inline_bold">$58</p>
                    <p>by admin</p>
                  </div>
                  <div class="img_rated">
                    <img src="img/blue_jacket_and_white_stripe_tee-200x260.jpg" alt="">
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </section>




    </div>

    <script src="js/script.js" charset="utf-8"></script>

  </body>
</html>
