<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="dist/app.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <title>Document</title>
</head>
  <body>

    <div id="root">

      <header class="container">
        <div class="container nav_container">
          <nav class="nav_top container_small">
            <div class="social">
              <ul v-for="social in iconsSocial">
                <li><a href="#"><i :class="social.family + social.prefix + social.name"></i></a></li>
              </ul>
            </div>
            <div v-for="menu in shoppingNav" class="account">
              <a class="shopping" href="#">{{menu.name}}</a>
              <button class="btn_account" type="button" name="button">{{menu.nameBtn}}<i class="fas fa-chevron-down"></i></button>
              <button class="btn_cart" type="button" name="button"><i class="fas fa-shopping-cart"></i>{{menu.nameBtnCart}}<i class="fas fa-chevron-down"></i></button>
            </div>
          </nav>
          </div>
          <!-- sub nav -->
          <nav class="nav_sub container_small">
            <div class="logo"><img src="img/logo.png" alt="logo">
            </div>
            <div class="nav_menu">
              <ul>
                <li v-for="link in menuListNav"><a href="#">{{link.link}}<i :class="link.family + link.prefix + link.icon"></i> </a></li>
              </ul>
              <button class="btn btn_blue" type="button" name="button">shop now!</button>
              <i class="search fas fa-search"></i>
            </div>
          </nav>
        <!-- top nav -->
      </header>
      <!-- hero -->
      <div class="hero container">
        <div class="container_small">
          <h1>Brand New Arrivals</h1>
          <p class="p_hero">new collection from new york</p>
          <button class="btn btn_hero" type="button" name="button">view all</button>
          <button class="btn btn_hero" type="button" name="button">lookbook</button>
        </div>
      </div>
      <!--start section featured -->
      <section class="featured container_small">
        <div class="section_title">
          <hr><h2>Featured Products</h2><hr>
          <p class="sub_title">Must have products from our top sellers</p>
        </div>
        <div class="btn_genre">
          <button class="btn genre" type="button" name="button">Men</button><button class="btn genre" type="button" name="button">Women</button><button class="btn genre" type="button" name="button">Accessories</button>
        </div>
        <div class="featured_products">
          <div class="img_product">
            <img src="img/leather-jacket.jpg" alt="">
          </div>
        </div>

      </section>

    </div>





    <script src="js/script.js" charset="utf-8"></script>

  </body>
</html>
