<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="dist/app.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <title>E-commerce</title>
</head>
  <body>

    <div id="root">

      <header class="container">
        <div class="navbar":class="{ 'navbar--hidden': !showNavbar }">
          <div class="navbar container nav_container">
            <nav  class="nav_top container_small">
              <div class="social">
                <ul v-for="social in iconsSocial">
                  <li><a href="#"><i class="social_header" :class="social.family + social.prefix + social.name"></i></a></li>
                </ul>
              </div>
              <div v-for="menu in shoppingNav" class="account">
                <a class="shopping" href="#">{{menu.name}}</a>
                <button class="btn_account" type="button" name="button">{{menu.nameBtn}}<i class="fas fa-chevron-down"></i></button>
                <button class="btn_cart" type="button" name="button"><i class="fas fa-shopping-cart"></i>{{menu.nameBtnCart}}<i class="fas fa-chevron-down"></i></button>
              </div>
            </nav>
            </div>
        </div>

          <!-- sub nav -->
          <nav class="nav_sub container_small">
            <div class="logo"><a href="#"><img src="img/logo.png" alt="logo"></a>
            </div>
            <div class="nav_menu">
              <ul>
                <li v-for="link in menuListNav"><a href="#">{{link.link}}<i :class="link.family + link.prefix + link.icon"></i> </a></li>
              </ul>
              <button class="btn btn_blue" type="button" name="button">shop now!</button>
              <i class="search fas fa-search"></i>
            </div>
          </nav>
        <!-- top nav -->
      </header>
      <!-- hero -->
      <div class="hero container">
        <div class="container_small">
          <h1>Brand New Arrivals</h1>
          <p class="p_hero">new collection from new york</p>
          <button class="btn btn_hero" type="button" name="button">view all</button>
          <button class="btn btn_hero" type="button" name="button">lookbook</button>
        </div>
      </div>
      <!--start section featured -->
      <section class="featured container_small">
        <div class="section_title divider">
          <h2>Featured Products</h2>
        </div>
        <p class="sub_title">Must have products from our top sellers</p>
        <div class="btn_genre">
          <button @click="clickGenre(0,4)" class="btn genre" type="button" name="button">Men</button>
          <button @click="clickGenre(4,8)" class="btn genre" type="button" name="button">Women</button>
          <button @click="clickGenre(8,12)" class="btn genre" type="button" name="button">Accessories</button>
        </div>

        <div class="featured_products">
          <div v-for="(element,index) in featuredProducts.slice(min,max)" class="make_over">
            <div class="img_product">
              <img :src= "element.img" alt="">
              <div class="overlay">
                <div :class="{active: isActive}" class=" product_type_list ">
                  <p class=" product_type">{{element.type}}</p>
                  <p class=" product_genre">{{element.genre}}</p>
                  <p class=" product_cost">{{element.cost}}</p>
                </div>
                <div v-show="contactIndex === index" :class="{active: !isActive}" class=" product_type_list ">
                  <p class="product_type_buy uppercase">Added to cart</p>
                  <i class="product_buy fas fa-check-circle"></i>
                </div>
                <div class="ready_to_buy" @click='contactIndex = index'>
                  <div class="text cart"><i @click="myFilter(contactIndex)" class="fas fa-shopping-cart"> Add to cart</i></div>
                  <div class="text_list"><i class="fas fa-list"> Details</i></div>
                </div>
              </div>
                <div class="">
                  <div class="content_product">
                    <h5>{{element.type}}</h5>
                    <p class="p_product">{{element.genre}}</p>
                    <p class="p_price"> <span>{{element.originalPrice}}</span> {{element.cost}}</p>
                  </div>
                </div>
            </div>
          </div>
        </div>

        <!-- <div  class="featured_products">
          <div v-for="(element,index) in womanProducts" class="make_over">
            <div class="img_product">
              <img :src= "element.img" alt="">
              <div class="overlay">
                <div :class="{active: isActive}" class=" product_type_list ">
                  <p class=" product_type">{{element.type}}</p>
                  <p class=" product_genre">{{element.genre}}</p>
                  <p class=" product_cost">{{element.cost}}</p>
                </div>
                <div v-show="contactIndex === index" :class="{active: !isActive}" class=" product_type_list ">
                  <p class="product_type_buy uppercase">Added to cart</p>
                  <i class="product_buy fas fa-check-circle"></i>
                </div>
                <div class="ready_to_buy" @click='contactIndex = index'>
                  <div class="text cart"><i @click="myFilter(contactIndex)" class="fas fa-shopping-cart"> Add to cart</i></div>
                  <div class="text_list"><i class="fas fa-list"> Details</i></div>
                </div>
              </div>
                <div class="">
                  <div class="content_product">
                    <h5>{{element.type}}</h5>
                    <p class="p_product">{{element.genre}}</p>
                    <p class="p_price"> <span>{{element.originalPrice}}</span> {{element.cost}}</p>
                  </div>
                </div>
            </div>
          </div>
        </div>

        <div  class="featured_products">
          <div v-for="(element,index) in accessoriesProducts" class="make_over">
            <div class="img_product">
              <img :src= "element.img" alt="">
              <div class="overlay">
                <div :class="{active: isActive}" class=" product_type_list ">
                  <p class=" product_type">{{element.type}}</p>
                  <p class=" product_genre">{{element.genre}}</p>
                  <p class=" product_cost">{{element.cost}}</p>
                </div>
                <div v-show="contactIndex === index" :class="{active: !isActive}" class=" product_type_list ">
                  <p class="product_type_buy uppercase">Added to cart</p>
                  <i class="product_buy fas fa-check-circle"></i>
                </div>
                <div class="ready_to_buy" @click='contactIndex = index'>
                  <div class="text cart"><i @click="myFilter(contactIndex)" class="fas fa-shopping-cart"> Add to cart</i></div>
                  <div class="text_list"><i class="fas fa-list"> Details</i></div>
                </div>
              </div>
                <div class="">
                  <div class="content_product">
                    <h5>{{element.type}}</h5>
                    <p class="p_product">{{element.genre}}</p>
                    <p class="p_price"> <span>{{element.originalPrice}}</span> {{element.cost}}</p>
                  </div>
                </div>
            </div>
          </div>
        </div> -->
      </section>
      <!-- start section seasons -->
      <section class="container seasons">
        <div class="img_season_winter">
          <div class="season_content">
            <h3>Winter Collection</h3>
            <p class="p_season">stylish and warm</p>
            <button class="btn btn_hero more" type="button" name="button">view more</button>
          </div>
        </div>
        <div class="img_season_spring">
          <div class="season_content">
            <h3>Spring Collection</h3>
            <p class="p_season">brigth and colorful</p>
            <button class="btn btn_hero more" type="button" name="button">view more</button>
          </div>
        </div>
        <div class="img_season_autumn">
          <div class="season_content">
            <h3>Autumn Collection</h3>
            <p class="p_season">rich and comfortable</p>
            <button class="btn btn_hero more" type="button" name="button">view more</button>
          </div>
        </div>
      </section>
      <!-- start section best seller carousel -->
      <section class= " best_seller container_small">
        <div class="section_title featured divider">
          <h2>Best Seller</h2>
        </div>
          <p class="sub_title">Must have products from our top sellers</p>
        <div class="featured_products carousel">
          <i class="chevron fas fa-chevron-left"></i>

          <div class="make_over">
            <div class="img_product_best">
              <img src="img/spring_printed_dress.jpg" alt="">
              <div class="overlay">
                <div class="product_type_list">
                  <p class=" product_type">Dress Print</p>
                  <p class=" product_genre">Women </p>
                  <p class=" product_cost">$ 47</p>
                </div>
                <div class="text"><i class="fas fa-shopping-cart"> Add to cart</i></div>
                <div class="text_list"><i class="fas fa-list"> Details</i></div>
              </div>
            </div>
          </div>

          <div class="make_over">
            <div class="img_product_best">
              <img src="img/modern_love_tee.jpg" alt="">
              <div class="overlay">
                <div class="product_type_list">
                  <p class=" product_type">Love Tee</p>
                  <p class=" product_genre">Women </p>
                  <p class=" product_cost">$ 25</p>
                </div>
                <div class="text"><i class="fas fa-shopping-cart"> Add to cart</i></div>
                <div class="text_list"><i class="fas fa-list"> Details</i></div>
              </div>
            </div>
          </div>

          <div class="make_over">
            <div class="img_product_best">
              <img src="img/black_leather_jacket.jpg" alt="">
              <div class="overlay">
                <div class="product_type_list">
                  <p class=" product_type">Jacket Hit</p>
                  <p class=" product_genre">Women </p>
                  <p class=" product_cost">$ 125</p>
                </div>
                <div class="text"><i class="fas fa-shopping-cart"> Add to cart</i></div>
                <div class="text_list"><i class="fas fa-list"> Details</i></div>
              </div>
            </div>
          </div>

          <div class="make_over">
            <div class="img_product_best">
              <img src="img/black_elegant_leather_jacket-400x520.jpg" alt="">
              <div class="overlay">
                <div class="product_type_list">
                  <p class=" product_type">Jacket Top</p>
                  <p class=" product_genre">Men </p>
                  <p class=" product_cost">$ 200</p>
                </div>
                <div class="text"><i class="fas fa-shopping-cart"> Add to cart</i></div>
                <div class="text_list"><i class="fas fa-list"> Details</i></div>
              </div>
            </div>
          </div>

          <div class="make_over">
            <div class="img_product_best">
              <img src="img/hipster_black_top.jpg" alt="">
              <div class="overlay">
                <div class="product_type_list">
                  <p class=" product_type">Rock Tee</p>
                  <p class=" product_genre">Women </p>
                  <p class=" product_cost">$ 35</p>
                </div>
                <div class="text"><i class="fas fa-shopping-cart"> Add to cart</i></div>
                <div class="text_list"><i class="fas fa-list"> Details</i></div>
              </div>
            </div>
          </div>

          <i class="chevron fas fa-chevron-right"></i>
        </div>
      </section>
      <!-- start section promo -->
      <section class="container promo_off">
        <div class="container promo promo_bg">
          <div class="container_small flex">
            <div class="img_promo _box1">
              <div class="promo_content">
                <h3>70% Off</h3>
                <p class="p_promo">Lorem ipsum dolor sit amet lorem ipsum lorem.</p>
                <button class="btn btn_hero more" type="button" name="button">view more</button>
              </div>
            </div>
            <div class="img_promo _box2">
              <div class="promo_content">
                <h3>Free Shipping</h3>
                <p class="p_promo">Lorem ipsum dolor sit amet lorem ipsum lorem.</p>
                <button class="btn btn_hero more" type="button" name="button">view more</button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- start section nuovi arrivi carousel full -->
      <section class="container new_arrivals">
        <div class="section_title featured container_small divider">
          <h2>New arrivals</h2>
        </div>
        <p class="sub_title blog">Brand new products from top designer</p>
        <div class="featured_products container carousel">
          <i class="chevron fas fa-chevron-left"></i>

          <div class=" make_over">
            <div class=" new_product">
              <img src="img/black_elegant_leather_jacket-400x520.jpg" alt="">
              <div class="overlay">
                <div class="product_type_list">
                  <p class=" product_type">Biker Jacket Leather</p>
                  <p class=" product_genre">Men</p>
                  <p class=" product_cost">$ 260</p>
                </div>
                <div class="text"><i class="fas fa-shopping-cart"> Add to cart</i></div>
                <div class="text_list"><i class="fas fa-list"> Details</i></div>
              </div>
            </div>
          </div>

          <div class="make_over">
            <div class=" new_product">
              <img src="img/hipster_black_top.jpg" alt="">
              <div class="overlay">
                <div class="product_type_list">
                  <p class=" product_type">Skully Tee & Black Shorts</p>
                  <p class=" product_genre">Women </p>
                  <p class=" product_cost">$ 110</p>
                </div>
                <div class="text"><i class="fas fa-shopping-cart"> Add to cart</i></div>
                <div class="text_list"><i class="fas fa-list"> Details</i></div>
              </div>
            </div>
          </div>

          <div class="make_over">
            <div class=" new_product">
              <img src="img/black_leather_suit-400x520.jpg" alt="">
              <div class="overlay">
                <div class="product_type_list">
                  <p class=" product_type">Korean Lacet Black Leather</p>
                  <p class=" product_genre">Men</p>
                  <p class=" product_cost">$ 320</p>
                </div>
                <div class="text"><i class="fas fa-shopping-cart"> Add to cart</i></div>
                <div class="text_list"><i class="fas fa-list"> Details</i></div>
              </div>
            </div>
          </div>

          <div class="make_over">
            <div class=" new_product">
              <img src="img/spring_printed_dress.jpg" alt="">
              <div class="overlay">
                <div class="product_type_list">
                  <p class=" product_type">Painted Dripping Dress Skate</p>
                  <p class=" product_genre">Women </p>
                  <p class=" product_cost">$ 190</p>
                </div>
                <div class="text"><i class="fas fa-shopping-cart"> Add to cart</i></div>
                <div class="text_list"><i class="fas fa-list"> Details</i></div>
              </div>
            </div>
          </div>

          <div class="make_over">
            <div class=" new_product">
              <img src="img/modern_love_tee-400x520.jpg" alt="">
              <div class="overlay">
                <div class="product_type_list">
                  <p class=" product_type">Love Tee & Black Skirt Drap</p>
                  <p class=" product_genre">Women </p>
                  <p class=" product_cost">$ 130</p>
                </div>
                <div class="text"><i class="fas fa-shopping-cart"> Add to cart</i></div>
                <div class="text_list"><i class="fas fa-list"> Details</i></div>
              </div>
            </div>
          </div>

          <i class="chevron fas fa-chevron-right"></i>
        </div>
      </section>
      <!-- start container designer -->
      <section class="container testimonial">
        <div v-show="visible" class="promo testimonial_bg">
          <div class="container_small center">
            <div class="testimonial_img center">
              <img src="img/man_testimonial.png" alt="">
            </div>
            <div class="testimonial_paragraph">
              <p class="p_testimonial">Lorem adipisicing elit. Lorem ipsum  sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <p class="p_name">Darìo Pineda,</p><span> Theme fusion</span>
            </div>
            <div class="bullet">
              <i class=" circle fas fa-circle"></i>
              <i @click="visible = false" class="circle far fa-circle"></i>
            </div>
          </div>
        </div>
        <div v-show="!visible" class="promo testimonial_bg">
          <div class="container_small center">
            <div class="testimonial_img center">
              <img src="img/woman_testimonial.png" alt="">
            </div>
            <div class="testimonial_paragraph">
              <p class="p_testimonial"> Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <p class="p_name">Maria Dolores,</p><span> Theme fusion</span>
            </div>
            <div class="bullet">
              <i @click="visible = true" class="circle far fa-circle"></i>
              <i class="circle fas fa-circle"></i>
            </div>
          </div>
        </div>
      </section>
      <!-- start section blog -->
      <section class="blog container_small">
        <div class="section_title featured divider">
          <h2>From Our Blog</h2>
        </div>
        <p class="sub_title">The Latest Classic Shop News</p>
        <div class="flex blog">
          <div class="img_blog">
            <img src="img/post_img_12-700x441.jpg" alt="">
              <div class="content_product_blog">
                <h5>Aenean lobortis sapien enim viverra</h5>
                <p class="p_date">September 9th, 2015|0 Comments</p>
                <p class="p_blog">Donec finibus sit amet orci eget ultricies. Praesent posuere ante ut erat fringilla</p>
              </div>
          </div>
          <div class="img_blog">
            <img src="img/post_img_11-700x441.jpg" alt="">
              <div class="content_product">
                <h5>Duis ac massa semper maximus</h5>
                <p class="p_date">September 9th, 2015|0 Comments</p>
                <p class="p_blog">Donec finibus sit amet orci eget ultricies. Praesent posuere ante ut erat fringilla,</p>
              </div>
          </div>
          <div class="img_blog">
            <img src="img/post_img_10-700x441.jpg" alt="">
              <div class="content_product">
                <h5>Nunc fermint nulla eu justo sem id</h5>
                <p class="p_date">September 9th, 2015|0 Comments</p>
                <p class="p_blog">Donec finibus sit amet orci eget ultricies. Praesent posuere ante ut erat fringilla,</p>
              </div>
        </div>
      </section>
      <!-- start section rated -->
      <section class="rated container">
        <div class="container break center">
          <div class="container_small rated_break flex">
            <div class="container_small">

              <div class="card  flex">
                <h6 class="left table_rate">featured</h6>
                <div class="card_products flexspace">
                  <div class="left">
                    <a class="link_rate" href="#">Black Jacket</a>
                    <p class="inline_bold">$145</p>
                  </div>
                  <div class="img_rated">
                    <img src="img/black_leather_jacket-120x156.jpg" alt="">
                  </div>
                </div>
              </div>

              <div class="card flex">
                <div class="card_products flexspace">
                  <div class="left">
                    <a class="link_rate" href="#">Black Leather Jacket </a>
                    <div class="star_rate">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <p class="linetr price_rate"> $235</p>
                    <p class="underline">$200</p>
                  </div>
                  <div class="img_rated">
                    <img src="img/black_elegant_leather_jacket-120x156.jpg" alt="">
                  </div>
                </div>
              </div>

              <div class="card flex">
                <div class="card_products flexspace">
                  <div class="left">
                    <a class="link_rate" href="#">Hipster Black Top</a>
                    <p class="inline_bold">$58</p>
                  </div>
                  <div class="img_rated">
                    <img src="img/hipster_black_top-120x156.jpg" alt="">
                  </div>
                </div>
              </div>

            </div>
            <div class="container_small">

              <div class="card flex">
                <h6 class="left table_rate">on sale</h6>
                <div class="card_products flexspace">
                  <div class="left">
                    <a class="link_rate" href="#">Black Leather</a>
                    <div class="star_rate">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>

                  </div>
                  <div class="img_rated">
                    <img src="img/black_elegant_leather_jacket-120x156.jpg" alt="">
                  </div>
                </div>
              </div>

              <div class="card container_xsmall flex">
                <div class="card_products flexspace">
                  <div class="left">
                    <a class="link_rate" href="#">Blue Leather Jacket </a>
                    <p class="inline_bold">$200</p>
                  </div>
                  <div class="img_rated">
                    <img src="img/blue_leather_jacket-120x156.jpg" alt="">
                  </div>
                </div>
              </div>

              <div class="card container_xsmall flex">
                <div class="card_products flexspace">
                  <div class="left">
                    <a class="link_rate" href="#">Moder Leather Boots</a>
                    <p class="linetr">$50</p>
                    <p class="inline_bold">$30</p>
                  </div>
                  <div class="img_rated">
                    <img src="img/brown_dress_shoes-200x260.jpg" alt="">
                  </div>
                </div>
              </div>

            </div>
            <div class="container_small">

              <div class="card container_xsmall flex">
                <h6 class="left table_rate">top rated</h6>
                <div class="card_products flexspace">
                  <div class="left">
                    <a class="link_rate" href="#">Leather Gloves</a>
                    <p class="inline_bold">$45</p>
                    <div class="star_rate">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                  </div>
                  <div class="img_rated">
                    <img src="img/leather_gloves-120x156.jpg" alt="">
                  </div>
                </div>
              </div>

              <div class="card container_xsmall flex">
                <div class="card_products flexspace">
                  <div class="left">
                    <a class="link_rate" href="#">Black Leather Jacket </a>
                    <div class="star_rate">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <p class="linetr price_rate"> $235</p>
                    <p class="underline">$200</p>
                  </div>
                  <div class="img_rated">
                    <img src="img/black_elegant_leather_jacket-120x156.jpg" alt="">
                  </div>
                </div>
              </div>

              <div class="card container_xsmall flex">
                <div class="card_products flexspace">
                  <div class="left">
                    <a class="link_rate" href="#">Spring Printed Dress</a>
                    <div class="star_rate">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <p class="inline_bold">$47</p>
                  </div>
                  <div class="img_rated">
                    <img src="img/spring_printed_dress-120x156.jpg" alt="">
                  </div>
                </div>
              </div>

            </div>
            <div class="container_small">

              <div class="card container_xsmall flex">
                <h6 class="left table_rate">latest reviews</h6>
                <div class="card_products flexspace">
                  <div class="left">
                    <a class="link_rate" href="#">Black Jacket</a>
                    <p class="inline_bold">$125</p>
                    <div class="star_rate">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <p >by admin</p>
                  </div>
                  <div class="img_rated">
                    <img src="img/black_leather_jacket-120x156.jpg" alt="">
                  </div>
                </div>
              </div>

              <div class="card container_xsmall flex">
                <div class="card_products flexspace">
                  <div class="left">
                    <a class="link_rate" href="#">Gloves </a>
                    <div class="star_rate">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <p class="linetr price_rate"> $235</p>
                    <p class="underline">$200</p>
                  </div>
                  <div class="img_rated">
                    <img src="img/leather_gloves-120x156.jpg" alt="">
                  </div>
                </div>
              </div>

              <div class="card container_xsmall flex">
                <div class="card_products flexspace">
                  <div class="left">
                    <a class="link_rate" href="#">Blue Jacket</a>
                    <p class="inline_bold">$58</p>
                    <p>by admin</p>
                  </div>
                  <div class="img_rated">
                    <img src="img/blue_jacket_and_white_stripe_tee-200x260.jpg" alt="">
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </section>
      <!-- start scetion logo -->
      <section class="container logo_brand center">
        <h6>brand logos</h6>
        <div class="container_small container_logos flex">
          <div class="logo_in_brand">
            <img src="img/b_logotype_6.png" alt="">
          </div>
          <div class="logo_in_brand">
            <img src="img/b_logotype_7.png" alt="">
          </div>
          <div class="logo_in_brand">
            <img src="img/b_logotype_1.png" alt="">
          </div>
          <div class="logo_in_brand">
            <img src="img/b_logotype_2.png" alt="">
          </div>
          <div class="logo_in_brand">
            <img src="img/b_logotype_3.png" alt="">
          </div>
        </div>

      </section>
      <!-- start footer -->
      <footer>
      <section class="container subscribe">
        <div class="container_small flexspace">
          <div class="flexspace">
            <div class="mail">
              <i class="mail_up far fa-envelope"></i>
            </div>
            <h3 class="subscribe">Subscribe now and get special offers</h3>
          </div>
          <div class="flexspace">
            <input class="mail_form" type="text" name="" value="" placeholder="Insert you email">
            <button class="btn btn_blue send" type="button" name="button">send</button>
          </div>
        </div>
      </section>
      <!-- footer body -->
      <section class="main_footer">
        <div  class="container_small  flexspace">

          <div class="contacts address_in">
            <div class="logo_footer">
              <img src="img/classic_shop_logo_footer.png" alt="">
            </div>
            <div class="contacts_address">
              <p class="address">12345 North Main Street,
                New York, NY 555555
                Phone: 1.800.555.6789
                Email: info@company.com
                Web: <a class="wpress text_none" href="#">Theme-fusion.com</a> </p>
            </div>
            <div class="social">
              <ul v-for="social in iconsSocial">
                <li><a href="#">
                  <i class="social_footer" :class="social.family + social.prefix + social.name"></i></a></li>
              </ul>
            </div>
          </div>

          <div class="contacts rated ">
            <h6 class="left rated_title_footer">{{ratedTitle}}</h6>
            <div v-for="element in ratedFooter" class="card_footer flex">
              <div class="card_products flexspace">
                <div class="left">
                  <a class=" footer_link rate_footer" href="#">{{element.dressName}}</a>
                  <div class="star_rate star_footer">
                    <i v-for="n in 5" :class=" element.family + element.prefix + element.iconStar"></i>
                  </div>
                  <p class="linetr price_rate"> {{element.firstPrice}}</p>
                  <p class="underline">{{element.newPrice}}</p>
                </div>
                <div class="img_rated">
                  <img :src="element.img" alt="photo">
                </div>
              </div>
            </div>
          </div>

          <div class="contacts post_link ">
            <h6 class="left rated_title_footer">{{postTitle}}</h6>
            <div v-for="post in recentPost" class="card_footer">
              <ul class="list_footer list_none">
                <li><a class=" footer_link text_none" href="#">> {{post}}</a></li>
              </ul>
            </div>
          </div>

          <div class="contacts">
            <h6 class="left rated_title_footer">{{tagTitle}}</h6>
            <div class="tags">
              <div v-for="tag in tags" class="tag_container">
                <a class="footer_link link_tag text_none" href="#">{{tag}}</a>
              </div>
            </div>
          </div>
      </section>
      <!-- payment_cards_footer -->
      <section class="sub_footer">
        <div class="container_small center">
          <p class="copyright">© Copyright 2012 - 2021 | Avada Theme by Theme Fusion | All Rights Reserved | Powered by <a class=" wpress text_none footer_link rate_footer" href="#">WordPress</a> </p>
          <div class="payment center">
            <img class="pay" src="img/payment_cards_footer.png" alt="">
          </div>
        </div>
      </section>
      </footer>

    </div>

    <script src="js/script.js" charset="utf-8"></script>

  </body>
</html>
