.btn{
  display: inline-block;
  padding: 13px 30px;
  font-weight: bold;
  border: none;
  cursor: pointer;

}.btn_blue{
  font-size: $font_12;
  color: $whi;
  background-color: $blue_sky;
  border-radius: 30px;
  text-transform: uppercase;
}
.btn_blue:hover{
  opacity: 0.9;
}
.btn_hero{
  color: $whi;
  font-size: $font_16;
  margin-right: 10px;
  border: 3px solid $whi;
  background-color: transparent;
  background: rgba(0,0,0,0.1);
  margin-top: 10px;
  border-radius: 30px;
  text-transform: uppercase;
}
.btn_hero:hover{
  opacity: 0.7;
}
.btn_genre{
  padding: 40px 0;
}
.genre{
  border: 1px solid $l_gray;
  padding: 13px 40px;
  color:$shark;
  margin: -2px;
}
.genre:focus, .genre:hover{
  background-color: $whi;
}
.more{
  padding: 10px 20px;
  font-size:$font_12;
}
