.btn_blue{
  display: inline-block;
  padding: 13px 30px;
  border-radius: 30px;
  font-size: $font_12;
  font-weight: bold;
  color: $whi;
  border: none;
  background-color: $blue_sky;
  cursor: pointer;
  text-transform: uppercase;
}
