*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  // background-color: lightgreen;
}
.container{
  width: 100%;
}
.container_small{
  margin: auto;
  width: 70%;
}
@mixin display_flex{
  display: flex;
  align-items: center;
}
button{
  outline: none;
}
.flex{
  display: flex;
  justify-content: center;
}
.flexstart{
  display: flex;
  justify-content: flex-start;
}
.flexspace{
  display: flex;
  justify-content: space-between;
}
.center{
  margin: auto;
  text-align: center;
}
.left{
  text-align: left;
}
.underline{
  text-decoration: underline;
  display: inline-block;
}
.uppercase{
  text-transform: uppercase;
}
.linetr{
  text-decoration: line-through;
  display: inline-block;
}
.inline_bold{
  display:inline-block;
  font-weight: bold;
}
.list_none{
  list-style: none;
}
.text_none{
  text-decoration: none;
}
// debug bg
.pink{
  background-color: pink;
}
.green{
  background-color: lightgreen;
}
.yellow{
  background-color: yellow;
}
.white{
  background-color: #fff;
}
.bkc{
color: black;
}
.act{
  display: block;
}
.not{
  display: none;
}
