section.subscribe{
  background-color: $sup_foot;
}
.mail{
  background-color: $main_foot;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  color: gray;
  vertical-align: middle;
  display: inline-block;
  margin-right: 30px;
  .mail_up{
    font-size: $font_30;
  }
}
.mail_form{
  border-radius: 30px;
  padding: 0 30px;
  width: 100%;
  margin-right: 30px;
  outline: none;
}
.send{
  padding: 0 40px;
}
.main_footer{
  background-color: $main_foot;
}
.sub_footer{
  background-color: $sub_foot
}
.logo_footer{
  width: 150px;
  img{
    width: 100%;
  }
}
.contacts{
  width: 25%;
}
.contacts_address{
  padding: 40px 0;
}
p.address{
  max-width: 65%;
  font-size: $font_12;
  font-weight: bold;
  color: $whi;
  letter-spacing: 1px;
  line-height: 2;
}
.social_footer{
  color: $whi;
}
