section.subscribe{
  background-color: $sup_foot;
}
.mail{
  background-color: $main_foot;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  color: gray;
  vertical-align: middle;
  display: inline-block;
  margin-right: 30px;
  .mail_up{
    font-size: $font_30;
  }
}
.mail_form{
  border-radius: 30px;
  padding: 0 30px;
  width: 100%;
  margin-right: 30px;
  outline: none;
}
.send{
  padding: 0 40px;
}
.main_footer{
  background-color: $main_foot;
}
.sub_footer{
  background-color: $sub_foot
}
.logo_footer{
  width: 150px;
  img{
    width: 100%;
  }
}
.contacts{
  width: 23%;
  padding: 10px 0;
}
.address_in{
  width: 15%;
}
.contacts_address{
  padding: 40px 0;
}
p.address{
  width: 90%;
  font-size: $font_12;
  font-weight: bold;
  color: $whi;
  letter-spacing: 1px;
  line-height: 2;
}
.social_footer{
  color: $whi;
}
.card_footer{
  padding: 8px 0;
  color:$whi;
}
a.footer_link{
  color: $whi;
  font-size: $font_16;
  padding: 10px 0;
}
.star_footer{
  padding: 3px 2px 3px 0;
}
a.link_tag{
vertical-align: sub;
padding: 0 10px;
}
.list_footer{
  padding: 10px 0 10px 0;
  white-space: nowrap;
}
.tags{
  padding-top: 15px;
}
.tag_container{
  vertical-align: sub;
  padding-right: 5px;
  height: 30px;
  margin: 5px 5px 5px 0;
  width: auto;
  display: inline-block;
  border: 1px solid $gray;
}
.tag_container:hover{
  background-color: $blue_sky;
}
