.container_small{
  // background-color: pink;
}
header{

}
.nav_top, .nav_sub{
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.nav_container{
  box-shadow: 0 0 1px #333333;
}
.nav_top{
  height: 50px;
}
.social, .account, .logo, .nav_menu{
  @include display_flex;
}
.nav_sub{
  height: 100px;
}
.social{
  ul li{
    list-style: none;
    i{
      font-size: $font_14;
      margin-right: 20px;
    }
    i.social_header{
    color: $t_gray;
    }
   i:hover{
    opacity: 0.7;
    }
  }
}
.account{
  font-size: $font_16;
  font-weight: 400;
  color: $t_gray;
  .shopping{
    text-decoration: none;
    color: $t_gray;
  }
  .btn_account{
    display: inline-block;
    height: 100%;
    border: none;
    font-size: $font_16;
    color: $t_gray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    margin-left: 20px;
    padding: 0 10px;
    background-color: #fff;
    i{
      font-size: $font_11;
      margin: 0 10px;
      color: $t_gray;
    }
  }
  .btn_cart{
    height: 100%;
    border: none;
    text-transform: uppercase;
    font-size: $font_14;
    font-weight: 200;
    padding: 0 40px;
    background-color: #fafafa;
    cursor: pointer;
    i{
      font-size: $font_12;
      color: $shark;
      margin: 0 10px;
    }
  }
}
.btn_account:hover{
  background-color: #fafafa;
  cursor: pointer;
}
div.logo{
  width: 150px;
  img{
    width: 100%;
  }
}
.nav_menu{
  ul li{
    list-style: none;
    display: inline-block;
    margin-right: 40px;
    a{
      text-decoration: none;
      color: $shark;
      font-weight:300;
    }
    i{
      font-size: $font_9;
      vertical-align:middle;
      margin-left: 10px;
      margin-bottom: 2px;

    }
    a:hover, a:focus{
      color: $blue_sky;
      border-top: 3px solid $blue_sky;
      padding-top: 37px;
      height: 100%;
    }
  }
}
i.search{
  font-size: $font_12;
  margin-left: 30px;
  cursor: pointer;
}
