section{
  padding: 100px 0;
}
section.promo_off,
section.best_seller,
section.new_arrivals,
section.testimonial{
  padding-top: 0;
}
.featured{
  text-align: center;
  vertical-align: middle;
}
// .title_container{
//   display: block;
//   vertical-align: middle;
// }

hr{
width: 30%;
display: inline-block;
margin-bottom: 10px;
}
// .title_container::before {
//   content: '';
//   border-top: 1px solid gray;
//   display: block;
//   width: 300px;
//   margin-left: 65%;
// }
//
// .title_container::after {
//   content: '';
//   border-top: 1px solid gray;
//   display: block;
//   width: 300px;
//   margin-left: 10%;
// }
.btn_genre{
  padding: 40px 0;
}
.featured_products{
  @include display_flex;
  justify-content: center;
}
.img_product{
  height: 360px;
  width: 230px;
  img{
  width: 100%;
  }
}
.content_product{
text-align: left;
}
.seasons{
  @include display_flex;
  vertical-align: middle;
}
.img_season_winter,
.img_season_spring,
.img_season_autumn{
  height: 600px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  @include display_flex;
  justify-content: center;
}
.img_season_winter{
  background-image: url("../img/winter_collection_bg.jpg");
}
.img_season_spring{
  background-image: url("../img/spring_collection_bg.jpg");
}
.img_season_autumn{
  background-image: url("../img/autumn_collection_bg.jpg");
}
.season_content{
  text-align: center;
  color: $whi;
  align-self:flex-end;
  padding-bottom: 55px;
}
.best_seller{
  vertical-align: middle;
}
.carousel{
  vertical-align: middle;
  padding-top: 50px;
  width: 100%;
  i{
    vertical-align: middle;
    color: $whi;
    font-size: $font_9;
    display: inline-block;
    background-color: lightgray;
    padding: 20px 10px;
    cursor: pointer;
    margin-bottom: 30px;
  }
  i:hover{
    opacity: 0.7;
  }
}
.promo{
  height: 550px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0;
  color: $whi;
}
.promo_bg{
  background-image: url("../img/bkgd_confetti-compressor.jpg");
}
.img_promo{
  @include display_flex;
  padding: 0 50px;
  height: 400px;
  width: 550px;
  margin-right: 40px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  img{
    width: 100%;
    height: 100%;
  }
}
._box1{
  background-image: url("../img/promo_box_1_bg.jpg");
}
._box2{
  background-image: url("../img/promo_box_2_bg.jpg");
}
.new_product{
  height: 100%;;
  width: 100%;;
  img{
    height: 100%;
  }
}
.testimonial_bg{
  background-image: url("../img/testimonials_home_1_bg.jpg");
  background-repeat: repeat-y;
  background-position: center;
  background-size: cover;
}
.testimonial_img{
  width: 80px;
  margin-top: 40px;
  img{
    width: 100%;
  }
}
.testimonial_paragraph{
  p.p_testimonial{
    max-width: 70%;
    margin: auto;
    line-height: 2;
    padding: 15px 0;
    font-style: italic;
    font-size: $font_18;
    letter-spacing: 1px;
  }
}
.p_name{
  font-weight: bold;
  display: inline-block;
  letter-spacing: 1px;
  padding-top:10px;
}
.bullet{
  padding-top: 25px;
  .circle{
    font-size: $font_11;
    margin-right: 3px;
  }
}
