section{
  padding: 100px 0;
}
section.promo_off,
section.best_seller,
section.new_arrivals,
section.testimonial,
section.blog{
  padding-top: 0;
}
section.logo_brand,
section.sub_footer{
  padding: 50px 0;
}
.featured{
  text-align: center;
  vertical-align: middle;
}
.divider::before, .divider::after {
  content: "";
  display: inline-block;
  height: 1px;
  width: 100%;
  max-width: 20%;
  background-color: currentColor;
  border-radius: 5px;
  vertical-align: middle;
  margin-bottom: 15px;
  color:$gray;
}
.btn_genre{
  padding: 40px 0;
}
.featured_products{
  @include display_flex;
  justify-content: center;
}
.img_product{
  height: 360px;
  width: 290px;
  position: relative;
  img{
  width: 100%;
  height: 100%;
  overflow: hidden;
  }
}
.img_product_best{
  position: relative;
}
div.make_over:hover .overlay{
  opacity: 0.8;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease-in;
  background: rgb(242,136,183);
  background: linear-gradient(360deg, rgba(242,136,183,1) 3%, rgba(153,165,238,1) 98%);
  cursor: pointer;
  i.fa-shopping-cart,
  i.fa-list,
  p.product_type{
    font-size: $font_14;
    display: inline-block;
    padding-right: 10px;
    color: $whi;
  }
  p.product_type{
    font-size: $font_18;
  }
}
.text,
.text_list,
.product_type,
.product_genre,
.product_cost {
  color: white;
  position: absolute;
  background-color: transparent;
  text-align: center;
  opacity: 1;
}
.text{
  top: 90%;
  left: 55%;
}
.text_list{
  top: 90%;
  left: 10%;
}
.product_type{
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 0;
  display: block;
}
.product_type_buy{
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: $font_22;
  font-weight: bold;
  color: $whi;
}
.product_genre{
  transform: translate(-50%, -50%);
  top: 50%;
  left: 47%;
  font-size: $font_14;
}
.product_cost{
  transform: translate(-50%, -50%);
  top: 60%;
  left: 45%;
  font-size: $font_30;
}
.product_buy{
  transform: translate(-50%, -50%);
  top: 60%;
  left: 50%;
  position: absolute;
  font-size: $font_40;
  color: lime;
}
.content_product{
text-align: left;
}
.img_product_best{
  height: 270px;
  width: 220px;
  position: relative;
  img{
  width: 100%;
  height: 100%;
  overflow: hidden;
  }
}
.seasons{
  @include display_flex;
  vertical-align: middle;
}
.img_season_winter,
.img_season_spring,
.img_season_autumn{
  height: 600px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  @include display_flex;
  justify-content: center;
}
.img_season_winter{
  background-image: url("../img/winter_collection_bg.jpg");
}
.img_season_spring{
  background-image: url("../img/spring_collection_bg.jpg");
}
.img_season_autumn{
  background-image: url("../img/autumn_collection_bg.jpg");
}
.season_content{
  text-align: center;
  color: $whi;
  align-self:flex-end;
  padding-bottom: 55px;
}
.best_seller{
  vertical-align: middle;
}
.carousel{
  vertical-align: middle;
  padding-top: 50px;
  width: 100%;
  i.chevron{
    vertical-align: middle;
    color: $whi;
    font-size: $font_9;
    display: inline-block;
    background-color: lightgray;
    padding: 20px 10px;
    cursor: pointer;
    margin-bottom: 30px;
  }
  i.chevron:hover{
    background-color: $t_gray;
  }
}
.promo{
  height: 550px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0;
  color: $whi;
}
.promo_bg{
  background-image: url("../img/bkgd_confetti-compressor.jpg");
}
.img_promo{
  @include display_flex;
  padding: 0 50px;
  height: 400px;
  width: 550px;
  margin-right: 40px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  img{
    width: 100%;
    height: 100%;
  }
}
._box1{
  background-image: url("../img/promo_box_1_bg.jpg");
}
._box2{
  background-image: url("../img/promo_box_2_bg.jpg");
}
.new_product{
  position: relative;
  max-height: 500px;
  max-width: 390px;
  overflow: hidden;
  img{
    width: 100%;
    height: 100%;
  }
}
.testimonial_bg{
  background-image: url("../img/testimonials_home_1_bg.jpg");
  background-repeat: repeat-y;
  background-position: center;
  background-size: cover;
}
.testimonial_img{
  width: 80px;
  margin-top: 40px;
  img{
    width: 100%;
  }
}
.testimonial_paragraph{
  p.p_testimonial{
    max-width: 70%;
    margin: auto;
    line-height: 2;
    padding: 15px 0;
    font-style: italic;
    font-size: $font_18;
    letter-spacing: 1px;
  }
}
.bullet{
  padding-top: 25px;
  .circle{
    font-size: $font_11;
    margin-right: 3px;
  }
  .circle:hover{
    cursor: pointer;
  }
}
.blog{
  padding-top: 20px;
}
.img_blog{
  height: 250px;
  width: 360px;
  margin: 0 20px;
  justify-content: space-between;
  cursor: pointer;
  img{
  width: 100%;
  transition: 1s;
  }
}
.img_blog img:hover{
  transform: scale(1.1);
}
.break{
  border-top: 1px solid $gray;
  width: 95%;
}
.rated_break{
  width: 70%;
}
.card,
.card_footer{
  display: block;
  margin-right: 15px;
  border-bottom: 1px solid $gray;
  a.link_rate,
  a.rate_footer{
    text-decoration: none;
    vertical-align: top;
    padding-bottom: 5px;
    display: inline-block;

  }
  a.link_rate{
    color: $shark;
  }
  a:hover{
    color: $blue_sky;
  }
}
.card{
  padding: 30px 0;
}
.img_rated{
  vertical-align: top;
  height: 80px;
  width: 70px;
  display: inline-block;
  img{
    height: 100%;
  }
}
.star_rate{
  i{
    color: $blue_sky;
  }
}
.logo_brand{
  background-color: #f6f6f6;
  h6{
    color: $d_gray;
  }
}
.container_logos{
  width: 50%;
  justify-content: space-between;
}
.logo_in_brand{
  height: 100px;
  width: 120px;
  padding-top: 20px;
  img{
    width: 100%;
  }
}
.isActive{
  display:block;
}
.active{
  display: none;
}
