section{
  padding: 100px 0;
}
.featured{
  text-align: center;
  vertical-align: middle;
}
// .title_container{
//   display: block;
//   vertical-align: middle;
// }

hr{
width: 30%;
display: inline-block;
margin-bottom: 10px;
}
// .title_container::before {
//   content: '';
//   border-top: 1px solid gray;
//   display: block;
//   width: 300px;
//   margin-left: 65%;
// }
//
// .title_container::after {
//   content: '';
//   border-top: 1px solid gray;
//   display: block;
//   width: 300px;
//   margin-left: 10%;
// }
.btn_genre{
  padding: 40px 0;
}
.featured_products{
  @include display_flex;
  justify-content: center;
}
.img_product{
  height: 360px;
  width: 230px;
  img{
  width: 100%;
  }
}
.content_product{
text-align: left;
}
.seasons{
  @include display_flex;
  vertical-align: middle;
}
.img_season_winter,
.img_season_spring,
.img_season_autumn{
  height: 600px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  @include display_flex;
  justify-content: center;
}
.img_season_winter{
  background-image: url("../../img/winter_collection_bg.jpg");
}
.img_season_spring{
  background-image: url("../../img/spring_collection_bg.jpg");
}
.img_season_autumn{
  background-image: url("../../img/autumn_collection_bg.jpg");
}
.season_content{
  text-align: center;
  color: $whi;
  align-self:flex-end;
  padding-bottom: 55px;
}
