h1{
color: $whi;
font-size: 78px;
letter-spacing: 3px;
padding-bottom: 10px;
}
.p_hero{
  text-transform: uppercase;
  color: $whi;
  font-size: $font_22;
  letter-spacing: 3px;
  padding-bottom: 20px;
}
h2{
  font-size: $font_40;
  letter-spacing: 2px;
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 20px;
  margin: 0 25px;
}
.sub_title{
padding-top: 20px;
font-size: $font_18;
}
