h1{
color: $whi;
font-size: 78px;
letter-spacing: 3px;
padding-bottom: 10px;
}
.p_hero{
  text-transform: uppercase;
  color: $whi;
  font-size: $font_22;
  letter-spacing: 3px;
  padding-bottom: 20px;
}
h2{
  font-size: $font_40;
  letter-spacing: 2px;
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 20px;
  margin: 0 25px;
  color:$shark
}
.sub_title{
padding: 20px 0;
font-size: $font_18;
color:$shark;
text-align: center;
}
h5{
  padding: 7px 0;
  font-weight: bold;
  font-size: $font_14;
}
.p_product{
  font-size: $font_12;
  padding-bottom: 7px;
  }
.p_price{
  color: $blue_sky;
  font-size: $font_14;
  vertical-align: middle;
  span{
    font-size: $font_9;
    text-decoration:line-through;
    vertical-align: middle;
    margin-right: 3px;
  }
}
h3{
  font-size: $font_40;
  letter-spacing: 2px;
  display: block;
}
.p_season{
 font-size: $font_18;
 font-weight: 300;
 text-transform: uppercase;
 letter-spacing: 3px;
 padding: 15px 0;
}
.p_promo{
  padding: 10px 0;
  max-width: 70%;
  line-height: 2;
}
.p_name{
  font-weight: bold;
  display: inline-block;
  letter-spacing: 1px;
  padding-top:10px;
}
.p_date{
  font-size: $font_12;
  padding: 5px 0;
}
.p_blog{
  font-size: $font_14;
  font-weight: 00;
  padding: 10px 0;
  line-height: 1.5;
}
h6{
  text-transform: uppercase;
  font-size: $font_16;
  font-weight: 400;
  letter-spacing: 2px;
}
h6.table_rate{
  padding: 30px 0;
}
h6.rated_title_footer{
  color: $whi;
  padding-bottom: 45px;
}
.price_rate{
 font-weight: bold;
 font-size: $font_14;
 margin-right:5px;
 padding: 10px 0;
}
p.by{
  margin-top: 5px;
}
.subscribe{
  color: $whi;
  font-size: $font_30;
  letter-spacing: 2px;
  vertical-align: middle;
  margin-top: 9px;
}
