h1{
color: $whi;
font-size: 78px;
letter-spacing: 3px;
padding-bottom: 10px;
}
.p_hero{
  text-transform: uppercase;
  color: $whi;
  font-size: $font_22;
  letter-spacing: 3px;
  padding-bottom: 20px;
}
h2{
  font-size: $font_40;
  letter-spacing: 2px;
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 20px;
  margin: 0 25px;
  color:$shark;
}
.sub_title{
padding: 20px 0;
font-size: $font_18;
color:$shark;
}
h5{
  padding: 7px 0;
  font-weight: bold;
  font-size: $font_14;
}
.p_product{
  font-size: $font_11;
  padding-bottom: 7px;
  }
.p_price{
  color: $blue_sky;
  font-size: $font_14;
  vertical-align: middle;
  span{
    font-size: $font_9;
    text-decoration:line-through;
    vertical-align: middle;
    margin-right: 3px;
  }
}
h3{
  font-size: $font_40;
  letter-spacing: 2px;
  display: block;
}
.p_season{
 font-size: $font_18;
 font-weight: 300;
 text-transform: uppercase;
 letter-spacing: 3px;
 padding: 10px 0;
}
