$whi: #fff;
$shark: #2a2f33;
$pink1: #e280b1;
$pink2: #db80b3;
$d_gray: #6b6a6b;
$t_gray: #64686c;
$gray: #a0a5a5;
$blue_sky:#427ed5;
$blue_sugar: #a2bfe3;
$blu_turq: #29f1f3;
$tuscany: #bd6e29;
$borde: #940e19;
$yellow: #e6ca5c;

$cyper: #e6c3d3;
$shark_2: #2f3034;
$fang: #89746c;
$purple: #8778b6;
$penicill: #97acae;

$tan:#d0a890;
$borde_2: #882236;

$font_11: 11px;
$font_12: 12px;
$font_14: 14px;
$font_16: 16px;
$font_18: 18px;
$font_22: 22px;
$font_26: 26px;
$font_30: 30px;
$font_32: 32px;
$font_40: 40px;

$bol: bold;
